/* .home-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1em;
    background-color: #c24e5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .home-button:hover {
    background-color: #d85964;
  }
  .Home {
    height: 100%;
    width: 100%;
  }
   */