.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #060606;
  padding: 0.8rem; 
  margin-left: 0px;
  height: 60px;
  position: relative;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(247, 243, 243);
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: black;
  align-items: center;
}

.nav-list li {
  display: inline;
  object-fit: cover;
}

.nav-list a {
  text-decoration: none;
  color: #fefbfb;
}

.search-container {
  position: relative;
}

.search-icon {
  font-size: 26px; 
  color: white; 
  cursor: pointer;
  font-weight: bold;
}

.search-bar-container {
  position: absolute;
  top: 45px; 
  right: 20px;
  width: 70vw; 
  max-width: 1000px; 
  padding: 10px;
  background-color: #333; 
  border-radius: 5px; 
  z-index: 1000; 
  transition: all 0.3s ease; 
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.search-bar::placeholder {
  color: #888; 
}

.mic-icon {
  margin-left: 0px;
  right: 100px;
  position: absolute;
  cursor: pointer;
}

.search-container.show .search-bar-container {
  display: flex;
}
